# Ejercicio Modelo de Redención

### Instalación de dependencias

In [ ]:
#!pip install pymysql
#!pip install sqlalchemy
#!pip install pandas numpy

In [2]:
import pandas as pd
import numpy as np
from connDef import *

## Carga de archivos a la bbdd

### Creación de la conexión a la base de datos (por seguridad en connDef.py)

In [26]:
connection = dbconn()

db connected

### Importación de csv a df y carga a

#### Coffe Data Shop // Primero hay que importar todas las tablas con llaves primarias.

In [8]:
coffedf = pd.read_csv("CoffeShopDatabases/201904 sales reciepts.csv")

In [193]:
coffedf.head(-10)

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,orders,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item
0,7,01/04/2019,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,01/04/2019,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,01/04/2019,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,01/04/2019,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,01/04/2019,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49879,735,29/04/2019,11:53:48,8,42,8431,N,1,1,87,2,6.00,3.00,N
49880,736,29/04/2019,14:39:55,8,15,0,Y,1,1,38,1,3.75,3.75,N
49881,737,29/04/2019,11:48:45,8,45,0,N,1,1,49,1,3.00,3.00,N
49882,740,29/04/2019,08:16:20,8,15,8026,Y,1,1,41,1,4.25,4.25,N
49883,742,29/04/2019,19:23:25,8,45,0,N,1,1,41,1,4.25,4.25,N

In [185]:
np.where(coffedf['transaction_id'] == 156)

(array([   28,    29,  3945,  3946,  4467,  8386,  9852, 10401, 10894,
        11583, 11584, 12192, 12193, 12777, 13415, 13923, 14485, 15174,
        15175, 15739, 15740, 16315, 16959, 17472, 18091, 18092, 18627,
        19099, 19697, 20353, 20884, 20885, 21493, 22183, 23236, 23237,
        24450, 25027, 25028, 29314, 33230, 34306, 34988, 35371, 35372,
        37101, 41134, 41657, 45847, 46459, 47569, 49567]),)

In [10]:
coffedf.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'sales_outlet_id', 'staff_id', 'customer_id', 'instore_yn', 'order',
       'line_item_id', 'product_id', 'quantity', 'line_item_amount',
       'unit_price', 'promo_item_yn'],
      dtype='object')

In [141]:
columns =['transaction_id',
          'transaction_date', 
          'transaction_time', 
          'sales_outlet_id', 
          'staff_id',
          'customer_id', 
          'instore_yn', 
          'orders', 
          'line_item_id', 
          'product_id',
          'quantity', 
          'line_item_amount', 
          'unit_price', 
          'promo_item'

    ]

In [142]:
coffedf.columns = columns

In [147]:
dates.dtypes

transaction_date    object
date_ID              int64
week_ID              int64
week_Desc           object
month_ID             int64
month_Name          object
quarter_ID           int64
quarter_Name        object
year_ID              int64
dtype: object

In [173]:
coffedf.dtypes

transaction_id        int64
transaction_date     object
transaction_time     object
sales_outlet_id       int64
staff_id              int64
customer_id           int64
instore_yn           object
orders                int64
line_item_id          int64
product_id            int64
quantity              int64
line_item_amount    float64
unit_price          float64
promo_item           object
dtype: object

In [153]:
coffedf['transaction_date'] = pd.to_datetime(coffedf['transaction_date'], format='%Y-%m-%d')

In [160]:
coffedf['transaction_date'] = coffedf['transaction_date'].dt.strftime('%d/%m/%Y')

In [164]:
coffedf.drop(columns=['transacion_date'], axis=1, inplace=True)

In [174]:
coffedf['transaction_date'] = coffedf['transaction_date'].astype(str)

Carga de dataframes a tablas en la base de datos

In [196]:
coffedf.to_sql(con=connection, name='CoffeShopData', if_exists='append', index=False)

49894

#### Product // LISTO!

In [129]:
products = pd.read_csv('./CoffeShopDatabases/product.csv')

In [94]:
products.head(10)

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,N,N
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,N,N
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,N,N
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,N,N
5,6,Whole Bean/Teas,Coffee beans,Gourmet Beans,Ethiopia,From the home of coffee.,1 lb,16.80,$21.00,Y,N,N
6,7,Whole Bean/Teas,Coffee beans,Premium Beans,Jamacian Coffee River,"Ya man, it will start your day off right.",1 lb,15.80,$19.75,Y,N,N
7,8,Whole Bean/Teas,Coffee beans,Premium Beans,Civet Cat,"The most expensive coffee in the world, the ca...",.5 lb,36.00,$45.00,Y,N,N
8,9,Whole Bean/Teas,Coffee beans,Organic Beans,Organic Decaf Blend,Our blend of hand picked organic beans that ha...,1 lb,18.00,$22.50,Y,N,N
9,10,Whole Bean/Teas,Coffee beans,Green beans,Guatemalan Sustainably Grown,Green beans you can roast yourself.,1 lb,8.00,$10.00,Y,N,N

In [95]:
products.columns

Index(['product_id', 'product_group', 'product_category', 'product_type',
       'product', 'product_description', 'unit_of_measure',
       'current_wholesale_price', 'current_retail_price', 'tax_exempt_yn',
       'promo_yn', 'new_product_yn'],
      dtype='object')

In [108]:
products.dtypes

product_id                   int64
product_group               object
product_category            object
product_type                object
product                     object
product_description         object
unit_of_measure             object
current_wholesale_price    float64
current_retail_price        object
tax_exempt_yn               object
promo_yn                    object
new_product_yn              object
dtype: object

In [132]:
products["promo_yn"] = np.where(products["promo_yn"] == "N", 0, 1)

In [134]:
products["new_product_yn"] = np.where(products["new_product_yn"] == "N", 0, 1)

In [135]:
products.head(10)

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,0,0
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,0,0
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,0,0
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,0,0
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,0,0
5,6,Whole Bean/Teas,Coffee beans,Gourmet Beans,Ethiopia,From the home of coffee.,1 lb,16.80,$21.00,Y,0,0
6,7,Whole Bean/Teas,Coffee beans,Premium Beans,Jamacian Coffee River,"Ya man, it will start your day off right.",1 lb,15.80,$19.75,Y,0,0
7,8,Whole Bean/Teas,Coffee beans,Premium Beans,Civet Cat,"The most expensive coffee in the world, the ca...",.5 lb,36.00,$45.00,Y,0,0
8,9,Whole Bean/Teas,Coffee beans,Organic Beans,Organic Decaf Blend,Our blend of hand picked organic beans that ha...,1 lb,18.00,$22.50,Y,0,0
9,10,Whole Bean/Teas,Coffee beans,Green beans,Guatemalan Sustainably Grown,Green beans you can roast yourself.,1 lb,8.00,$10.00,Y,0,0

In [136]:
products.to_sql(con=connection, name='Product', if_exists='append', index=False)

88

#### Staff // Listo!

In [27]:
staff = pd.read_csv('CoffeShopDatabases/staff.csv')

In [39]:
staff.head(10)

   staff_id first_name last_name         position  start_date location
0         1        Sue   Tindale              CFO    8/3/2001       HQ
1         2        Ian   Tindale              CEO    8/3/2001       HQ
2         3      Marny  Hermione          Roaster  10/24/2007       WH
3         4    Chelsea   Claudia          Roaster    7/3/2003       WH
4         5       Alec   Isadora          Roaster    4/2/2008       WH
5         6       Xena     Rahim    Store Manager   7/24/2016        3
6         7     Kelsey   Cameron  Coffee Wrangler  10/18/2003        3
7         8   Hamilton       Emi  Coffee Wrangler    2/9/2005        3
8         9   Caldwell      Veda  Coffee Wrangler    9/9/2013        3
9        10        Ima  Winifred  Coffee Wrangler  12/10/2016        3

In [37]:
staff.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)

In [40]:
staff.head(10)

   staff_id first_name last_name         position  start_date location
0         1        Sue   Tindale              CFO    8/3/2001       HQ
1         2        Ian   Tindale              CEO    8/3/2001       HQ
2         3      Marny  Hermione          Roaster  10/24/2007       WH
3         4    Chelsea   Claudia          Roaster    7/3/2003       WH
4         5       Alec   Isadora          Roaster    4/2/2008       WH
5         6       Xena     Rahim    Store Manager   7/24/2016        3
6         7     Kelsey   Cameron  Coffee Wrangler  10/18/2003        3
7         8   Hamilton       Emi  Coffee Wrangler    2/9/2005        3
8         9   Caldwell      Veda  Coffee Wrangler    9/9/2013        3
9        10        Ima  Winifred  Coffee Wrangler  12/10/2016        3

In [42]:
staff.to_sql(con=connection, name='Staff', if_exists='append', index=False)

55

#### Sales Outlet /// LISTO!

In [46]:
salesOutlet = pd.read_csv('CoffeShopDatabases/sales_outlet.csv')

In [112]:
salesOutlet.head(10)

,sales_outlet_id,sales_outlet_type,store_square_feet,store_address,store_city,store_state_province,store_telephone,store_postal_code,store_longitude,store_latitude,manager,Neighorhood
0,2,warehouse,3400,164-14 Jamaica Ave,Jamaica,NY,972-871-0402,11432,-73.795168,40.705226,NaN,Jamaica
1,3,retail,1300,32-20 Broadway,Long Island City,NY,777-718-3190,11106,-73.924008,40.761196,6.0,Astoria
2,4,retail,1300,604 Union Street,Brooklyn,NY,619-347-5193,11215,-73.983984,40.677645,11.0,Gowanus
3,5,retail,900,100 Church Street,New York,NY,343-212-5151,10007,-74.010130,40.713290,16.0,Lower Manhattan
4,6,retail,1000,122 E Broadway,New York,NY,613-555-4989,10002,-73.992687,40.713852,21.0,Lower East Side
5,7,retail,1200,224 E 57th Street,New York,NY,287-817-2330,10021,-73.960000,40.770000,26.0,Upper East Side
6,8,retail,1500,687 9th Avenue,New York,NY,652-212-7020,10036,-73.990338,40.761887,31.0,Hell's Kitchen
7,9,retail,1700,175 8th Avenue,New York,NY,242-212-0080,10011,-74.000502,40.742760,36.0,Chelsea
8,10,retail,1600,183 W 10th Street,New York,NY,674-646-6434,10014,-74.002722,40.734367,41.0,Greenwich Village

In [113]:
salesOutlet.rename(columns={'Neighorhood':'neighborhood'}, inplace=True)

In [114]:
salesOutlet.to_sql(con=connection, name='SalesOutlet', if_exists='append', index=False)

9

#### Sales Target // LISTO!

In [53]:
salestarget = pd.read_csv('CoffeShopDatabases/sales_targets.csv')

In [54]:
salestarget.head(10)

,sales_outlet_id,year_month,beans_goal,beverage_goal,food_goal,merchandise _goal,total_goal
0,3,Apr-19,720,13500,3420,360,18000
1,4,Apr-19,720,13500,3420,360,18000
2,5,Apr-19,1000,18750,4750,500,25000
3,6,Apr-19,720,13500,3420,360,18000
4,7,Apr-19,720,13500,3420,360,18000
5,8,Apr-19,900,16875,4275,450,22500
6,9,Apr-19,720,13500,3420,360,18000
7,10,Apr-19,720,13500,3420,360,18000

In [67]:
salestarget.columns

Index(['sales_outlet_id', 'year_months', 'beans_goal', 'beverage_goal',
       'food_goal', 'merchandise_goal', 'total_goal'],
      dtype='object')

In [62]:
salestarget.rename(columns={'year_month': 'year_months'}, inplace=True)

In [66]:
salestarget.rename(columns={'merchandise _goal': 'merchandise_goal'}, inplace=True)

In [115]:
salestarget.head(10)

,sales_outlet_id,year_months,beans_goal,beverage_goal,food_goal,merchandise_goal,total_goal
0,3,Apr-19,720,13500,3420,360,18000
1,4,Apr-19,720,13500,3420,360,18000
2,5,Apr-19,1000,18750,4750,500,25000
3,6,Apr-19,720,13500,3420,360,18000
4,7,Apr-19,720,13500,3420,360,18000
5,8,Apr-19,900,16875,4275,450,22500
6,9,Apr-19,720,13500,3420,360,18000
7,10,Apr-19,720,13500,3420,360,18000

In [116]:
salestarget.to_sql(con = connection, name='Sales_target', if_exists = 'append', index=False)

8

#### Generations // LISTO!

In [70]:
generations = pd.read_csv('CoffeShopDatabases/generations.csv')

In [71]:
generations.head(10)

   birth_year    generation
0        1946  Baby Boomers
1        1947  Baby Boomers
2        1948  Baby Boomers
3        1949  Baby Boomers
4        1950  Baby Boomers
5        1951  Baby Boomers
6        1952  Baby Boomers
7        1953  Baby Boomers
8        1954  Baby Boomers
9        1955  Baby Boomers

In [119]:
generations.to_sql(con = connection, name='Generations', if_exists= 'append', index=False)

70

#### Customer // LISTO!

In [82]:
customer = pd.read_csv('CoffeShopDatabases/customer.csv')

In [192]:
customer.head(10)

,customer_id,home_store,customer_first_name,customer_email,customer_since,loyalty_card_number,birthdate,gender,birth_year
0,1,3,Kelly Key,Venus@adipiscing.edu,2017-01-04,908-424-2890,1950-05-29,M,1950
1,2,3,Clark Schroeder,Nora@fames.gov,2017-01-07,032-732-6308,1950-07-30,M,1950
2,3,3,Elvis Cardenas,Brianna@tellus.edu,2017-01-10,459-375-9187,1950-09-30,M,1950
3,4,3,Rafael Estes,Ina@non.gov,2017-01-13,576-640-9226,1950-12-01,M,1950
4,5,3,Colin Lynn,Dale@Integer.com,2017-01-15,344-674-6569,1951-02-01,M,1951
5,6,3,Igor Beach,Caleb@morbi.net,2017-01-18,114-126-1992,1951-04-04,M,1951
6,7,3,Scott Holden,Yen@Integer.edu,2017-01-21,384-074-3606,1951-06-05,M,1951
7,8,3,Keegan Ayala,Tana@sociis.com,2017-01-24,257-308-7675,1951-08-07,M,1951
8,9,3,Amir Byers,Madeson@malesuada.us,2017-01-26,931-925-0273,1951-10-08,M,1951
9,10,3,Magee Malone,Anjolie@sapien.gov,2017-01-29,359-150-6747,1951-12-09,M,1951

In [88]:
customer.rename(columns={'customer_first-name': 'customer_first_name'}, inplace=True)

In [118]:
customer.dtypes

customer_id             int64
home_store              int64
customer_first_name    object
customer_email         object
customer_since         object
loyalty_card_number    object
birthdate              object
gender                 object
birth_year              int64
dtype: object

In [195]:
customer.to_sql(con=connection, name='Customer', if_exists='append', index=False)

2246

#### Pastry Inventory //

In [5]:
pastryinv = pd.read_csv('CoffeShopDatabases/pastry_inventory.csv')

In [15]:
pastryinv.head(10)

,sales_outlet_id,transaction_date,product_id,start_of_day,quantity_sold,waste,% waste
0,3,01/04/2019,69,18,8,10,56%
1,3,01/04/2019,70,18,12,6,33%
2,3,01/04/2019,71,18,8,10,56%
3,3,01/04/2019,72,48,9,39,81%
4,3,01/04/2019,73,18,9,9,50%
5,3,02/04/2019,69,18,7,11,61%
6,3,02/04/2019,70,18,10,8,44%
7,3,02/04/2019,71,18,10,8,44%
8,3,02/04/2019,72,48,10,38,79%
9,3,02/04/2019,73,18,9,9,50%

In [8]:
pastryinv['transaction_date'] = pd.to_datetime(pastryinv['transaction_date'], format='%m/%d/%Y')

In [14]:
pastryinv.dtypes

sales_outlet_id      int64
transaction_date    object
product_id           int64
start_of_day         int64
quantity_sold        int64
waste                int64
% waste             object
dtype: object

In [10]:
pastryinv['transaction_date'] = pastryinv['transaction_date'].dt.strftime('%d/%m/%Y')

In [13]:
pastryinv['transaction_date'] = pastryinv['transaction_date'].astype(str)

In [16]:
pastryinv.columns

Index(['sales_outlet_id', 'transaction_date', 'product_id', 'start_of_day',
       'quantity_sold', 'waste', '% waste'],
      dtype='object')

In [22]:
pastryinv.rename(columns={'% waste': 'waste_percentage'}, inplace=True)

In [23]:
pastryinv.to_sql(con = connection, name='Pastry_inventory', if_exists='append', index=False)

307

#### Dates // LISTO!

In [74]:
dates = pd.read_csv('CoffeShopDatabases/Dates.csv')

In [171]:
dates.head(10)

,transaction_date,date_ID,week_ID,week_Desc,month_ID,month_Name,quarter_ID,quarter_Name,year_ID
0,01/04/2019,20190401,14,Week 14,4,April,2,Q2,2019
1,02/04/2019,20190402,14,Week 14,4,April,2,Q2,2019
2,03/04/2019,20190403,14,Week 14,4,April,2,Q2,2019
3,04/04/2019,20190404,14,Week 14,4,April,2,Q2,2019
4,05/04/2019,20190405,14,Week 14,4,April,2,Q2,2019
5,06/04/2019,20190406,14,Week 14,4,April,2,Q2,2019
6,07/04/2019,20190407,14,Week 14,4,April,2,Q2,2019
7,08/04/2019,20190408,15,Week 15,4,April,2,Q2,2019
8,09/04/2019,20190409,15,Week 15,4,April,2,Q2,2019
9,10/04/2019,20190410,15,Week 15,4,April,2,Q2,2019

In [76]:
dates.columns

Index(['transaction_date', 'Date_ID', 'Week_ID', 'Week_Desc', 'Month_ID',
       'Month_Name', 'Quarter_ID', 'Quarter_Name', 'Year_ID'],
      dtype='object')

In [78]:
columns = [ 'transaction_date', 
            'date_ID', 
            'week_ID', 
            'week_Desc', 
            'month_ID',
            'month_Name', 
            'quarter_ID', 
            'quarter_Name', 
            'year_ID' ]

In [79]:
dates.columns = columns

In [168]:
dates.dtypes

transaction_date    datetime64[ns]
date_ID                      int64
week_ID                      int64
week_Desc                   object
month_ID                     int64
month_Name                  object
quarter_ID                   int64
quarter_Name                object
year_ID                      int64
dtype: object

In [167]:
dates['transaction_date'] = pd.to_datetime(dates['transaction_date'], format='%m/%d/%Y')

In [170]:
dates['transaction_date'] = dates['transaction_date'].dt.strftime('%d/%m/%Y')

In [177]:
coffedf['transaction_date'] = coffedf['transaction_date'].astype(str)

In [179]:
dates.to_sql(con=connection, name='Dates', if_exists='append', index=False)

30

## Read bbdd data into pandas dataframe

código ejemplo de como importar una base de datos a n dataframe de pandas.
~~~
result_dataframe = pd.read_sql(query, connection)
~~~

In [32]:
query = db.text('SELECT * FROM DcDataLakeDB.Dates')

In [42]:
dates = pd.read_sql(con = connection.connect(), sql = query)

In [43]:
dates.head(10)

,transaction_date,date_id,week_id,week_desc,month_id,month_name,quarter_id,quarter_name,year_id
0,01/04/2019,20190401,14,Week 14,4,April,2,Q2,2019
1,02/04/2019,20190402,14,Week 14,4,April,2,Q2,2019
2,03/04/2019,20190403,14,Week 14,4,April,2,Q2,2019
3,04/04/2019,20190404,14,Week 14,4,April,2,Q2,2019
4,05/04/2019,20190405,14,Week 14,4,April,2,Q2,2019
5,06/04/2019,20190406,14,Week 14,4,April,2,Q2,2019
6,07/04/2019,20190407,14,Week 14,4,April,2,Q2,2019
7,08/04/2019,20190408,15,Week 15,4,April,2,Q2,2019
8,09/04/2019,20190409,15,Week 15,4,April,2,Q2,2019
9,10/04/2019,20190410,15,Week 15,4,April,2,Q2,2019